*{
    margin: 0; /* Quito el margen por defecto de toda la pagina */
    padding: 0; /* Quito el relleno por defecto de toda la pagina */
    box-sizing: border-box; /* Cambio el tamaño para que incluya el contenido, el relleno y el borde */
}

body{
    font-size: 20px; /* Declaro un tamaño de fuente */
    color: #7f888f; /* Declaro un color al body */
}

.container{
    display: flex; /* Coloco los elementos en linea */
}

.izq{
    width: 25%; /* Establece el ancho de la parte izquierda */
    background-color: #f5f6f7; /* Establece el color de fondo */
}

.izq h3{
    color: #3d4449;
    font-family: "Roboto Slab", serif; /* Establece la fuente del título */
    font-weight: 700; /* Establece el grosor de la fuente */
    line-height: 1.5; /* Establece el interlineado */
    font-size: 1.2em; 
    border-bottom: 3px solid #f56a6a; /* Agrega un borde inferior */
    padding: 40px 0 10px;
}

.der{
    width: 100%;
}

ul li{
    list-style: none; /* Elimina los marcadores de lista */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    color: #3d4449;
}

ul li:hover{
    color: #f56a6a;
}

.contenido{
    width: 1300px;
    margin: 110px auto 50px;
}

.lateral{
    padding: 30px; 
}

/* ESTILO BUSCADOR */

.buscador{
    padding: 30px;
    background-color: #eff1f2;
}

.buscador i{
    margin-left: -45px; /* Ajusta la posición del ícono a la izquierda */
    color: #d2d7d9bf;
}

.search{
    border: 1px solid #d2d7d9bf;
    border-radius: 7px; /* Agrega bordes redondeados al campo */
    padding: 12px;
    width: 98%;
    font-size: 18px;
}

/* ESTILO MENU */

.menu h3{
    width: 80px;
}

.menu ul{
    padding: 45px 0;
    border-bottom: 2px solid #d2d7d9bf;
}

.menu ul li{
    font-size: 0.7em;
    letter-spacing: 0.075em; /* Ajusta el espaciado entre letras */
    border-top: solid 1px #d2d7d9bf; 
    padding: 15px 0;
}

/* ESTILO SUBMENU */

.submenu span{
    margin-left: 70%;
}

.otroSubmenu span{
    margin-left: 45%;
}

.lista{
    display: none; /* Oculta todos los elementos */
}

.lista li{
    color: #a0a4a7;
    margin-left: 15px;
}

.submenu:hover li{
    border-top: solid 0px #d2d7d9bf;
}

.otroSubmenu:hover li{
    border-top: solid 0px #d2d7d9bf;
}

.submenu:hover ul{
    display: block; /* Muestra elementos "ul" anidados cuando se hace hover en elementos con la clase "otroSubmenu" */ 
    border-bottom: 0px;
}

.otroSubmenu:hover ul{
    display: block;
    border-bottom: 0px;
}

/* ESTILO IMAGENES BARRA LATERAL */

.ante{
    padding-top: 20px;
}

.ante h3{
    width: 180px;
}

.verticalFoto{
    padding: 20px 0;
    border-bottom: 2px solid #d2d7d9bf;
}

.linea{
    border-bottom: 2px solid #d2d7d9bf;
}

.omp{
    padding: 20px 0;
}

.omp img{
    width: 100%;
    border-radius: 8px;
}

/* ESTILO CONTACTO */

.get{
    padding: 20px 0;
    border-bottom: 2px solid #d2d7d9bf;
}

.get h3{
    width: 180px;
}

.get p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.letraGet{
    padding-top: 40px;
    padding-bottom: 10px;
}

.contactoIcono{
    display: flex;
    padding: 20px 0;
}

.contactoIcono i{
    font-size: 24px;
    color: #f56a6a;
    margin-right: 20px;
}

.color:hover{
    color: #f56a6a;
    cursor: pointer;
}

/* ESTILO HEADER */

.header{
    color: #3d4449;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre elementos flexibles */
    padding-bottom: 20px;
    border-bottom: 5px solid #f56a6a;
    font-family: 'Roboto Slab', serif;
}

.header p:hover{
    color: #f56a6a;
    cursor: pointer;
}

.iconos{
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.iconos i{
    font-size: 24px;
}

/* ESTILO BANNER */

.hola{
    display: flex;
    margin: 70px 0;
    padding-bottom: 70px;
    border-bottom: 2px solid #d2d7d9bf;
}

h1{
    font-size: 70px;
    color: #3d4449;
    font-family: 'Roboto Slab', serif;
}

.lorem{
    margin: 30px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.boton{
    border: 2px solid #f56a6a;
    border-radius: 8px;
    width: 160px;
    color: #f56a6a;
    padding: 15px;
    padding-left: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.foto{
    margin-left: 30px;
}

.brazos{
    border-radius: 10px;
    width: 700px;
    height: 500px;
}

/* ESTILO ARTICULOS FONT AWESOME */

.articulos{
    margin: 70px 0;
    padding-bottom: 70px;
    border-bottom: 2px solid #d2d7d9bf;
}

h2{
    font-family: 'Roboto Slab', serif;
    color: #3d4449;
    border-bottom: 3px solid #f56a6a;
    width: 20%;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.artic{
    margin: 80px auto;
    width: 100%;
    display: flex;
}

.artic article{
    width: 100%;
    display: flex;
}

article{
    margin-right: 50px;
}

.icon{
    border: 1px solid #a0a4a7;
    border-radius: 2px;
    transform: rotate(45deg); /* Aplica una rotación de 45 grados */
    width: 150px;
    height: 120px;
    margin-right: 50px;
}

.icon i{
    color: #f56a6a;
    font-size: 55px;
    transform: rotate(-45deg);
    padding: 30px;
}

.signal i{
    font-size: 45px;
}

h3{
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.25em;
}

.content p{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* ESTILO IMAGENES */

.cartas{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan automáticamente cuando no caben en una fila */
}

.carta{
    padding: 50px;
    width: 33%;
}

.carta-img img{
    width: 320px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.letra{
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.more{
    width: 100px;
    padding: 12px;
    padding-left: 25px;
    font-family: 'Roboto Slab', serif;
}

.br-b-d{
    border-bottom: 1px solid #d2d7d9bf;
    border-right: 1px solid #d2d7d9bf;
}

.br-b-i{
    border-bottom: 1px solid #d2d7d9bf;
    border-left: 1px solid #d2d7d9bf;
}

.br-d-a-i{
    border-top: 1px solid #d2d7d9bf;
    border-right: 1px solid #d2d7d9bf;
    border-left: 1px solid #d2d7d9bf;
}